
  body, html {
    height: 100%;
    margin:0%;
  }
  #main {
    transition: margin-left .5s;
    
    background-image: url(https://images.unsplash.com/photo-1571260899304-425eee4c7efc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #main .main-txt{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    border: 3px solid #f1f1f1;
    top: 20%;
    left: 30%;
    z-index: 2;
    width: 40%;
    position: relative;
    padding: 20px;
    text-align: center;
    animation: zoom-in-zoom-out 4s ease-out infinite;
  }
  #main .main-txt h1 span{
    color: #111;
    font-weight:bold;
  }
  #main .main-txt h2{
    font-size: 12pt;
  }
  hr{
    padding: 0%;
    height: 5px;
    background-color: black;
  }
  #crs{
    background-image: url(https://live.staticflickr.com/8078/8314929977_28fd740070_b.jpg);
    float: left;
    left: 2%;
    height: 30%;
    color: White;
    border: 10px double rgb(214, 204, 204);
    border-radius: 15%;
    position: relative;
    padding: 20px;
    font-size: 12pt;
    font-family: 'Courier New', monospace;
    text-align: center;
    animation: zoom-in-zoom-out 4s ease-out infinite;
  }
  #crs span{
    font-size: 24pt;
    font-weight: bold;
  }
  #crs .bn{
    color: white;
    font-size: 12pt;
    font-family: 'Courier New', monospace;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 7px;
    width: 120px;
    height: 50px;
  }
  #crs .bn:hover{
    background-color: rgba(130, 77, 77,0.3);
    cursor: pointer;
  }
  #crs a.bn{
    text-decoration: none;
    display: inline-block;
  }
  #tch{
    float: right;
  }
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } 